*{box-sizing: border-box; }
body {margin: 0; }
.clearfix::after { content: ""; display: block; clear: both; }

header {
  div.topnav{
    background-color: #333 
    a {
        float: left; display: block; color: #f2f2f2; text-align: center;
      padding: 14px 16px; text-decoration: none; font-size: 17px;
      &:hover { background-color: green; color: white; }
    }

    .icon { display: none;}
    .dorpdown { 
        position: relative;
        .dorpdown-content {
            display: none;
            a {display: block; float: none; border-bottom: 1px; text-align:left;}
        }
    }
    .dropdown:hover .dropdown-content { display: block; width: 200px; position: absolute; z-index: 10; left: 74px; top: 51px; background-color: #555; }
    
  }
}



